<!DOCTYPE html>
<html>

   <head>
      <title>TimeStamp Service</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
       <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet"> 
     <link href="/public/style.css" rel="stylesheet" type="text/css"> 
  </head>

   <body>
      <div class="container">
        <h1>API Basejump: Image Search API Microservice</h1>
        <div class="well">
          User Stories:
          <ol>
            <li>
               I can get the image URLs, alt text and page urls for a set of images relating to a given search string.
            </li>
            <li>I can paginate through the responses by adding a ?offset=2 parameter to the URL.</li>
            <li> I can get a list of the most recently submitted search strings.</li>
          </ol>
        </div>
        
        <div class="example-text">
          <h3>
            Example query usage:
          </h3>
            <a href="https://wg-image-api.glitch.me/api/funny%20cats?offset=10" target="_blank"><code>
              https://wg-image-api.glitch.me/api/funny%20cats?offset=10
            </code></a><br>
              
            <a href="https://wg-image-api.glitch.me/latest" target="_blank"><code>
            https://wg-image-api.glitch.me/latest
              </code></a>
        </div>
        
        <div class="example-text">
          <h3>
            Example query output:
          </h3>
            <code>
              [
  {
    "URL": "https://pixabay.com/get/eb31b6062ff3033ed95c4518b74a4694e775e0dd04b0144194f2c67ea7ecb7_640.jpg",
    "Tags": "cat, mackerel, wink",
    "Thumbnail": "https://cdn.pixabay.com/photo/2017/07/06/22/54/cat-2479772_150.jpg",
    "Context": "https://pixabay.com/en/cat-mackerel-wink-funny-red-2479772/"
  },
  {
    "URL": "https://pixabay.com/get/eb31b50d29f6073ed95c4518b74a4694e775e0dd04b0144194f2c67ea7ecb7_640.jpg",
    "Tags": "luggage, antique, cat",
    "Thumbnail": "https://cdn.pixabay.com/photo/2017/06/25/22/01/luggage-2442126_150.jpg",
    "Context": "https://pixabay.com/en/luggage-antique-cat-2442126/"
  },
  {
    "URL": "https://pixabay.com/get/eb31b1092df4063ed95c4518b74a4694e775e0dd04b0144194f2c67ea7ecb7_640.jpg",
    "Tags": "cat, funny, irr",
    "Thumbnail": "https://cdn.pixabay.com/photo/2017/06/15/19/47/cat-2406507_150.jpg",
    "Context": "https://pixabay.com/en/cat-funny-irr-nature-mietze-cute-2406507/"
  },
  {
    "URL": "https://pixabay.com/get/eb36b60c2ff6043ed95c4518b74a4694e775e0dd04b0144194f2c67ea7ecb7_640.jpg",
    "Tags": "animal welfare, erika, tiger cat",
    "Thumbnail": "https://cdn.pixabay.com/photo/2017/06/05/10/59/animal-welfare-2373725_150.jpg",
    "Context": "https://pixabay.com/en/animal-welfare-erika-tiger-cat-2373725/"
  },
  {
    "URL": "https://pixabay.com/get/eb31b8072df4083ed95c4518b74a4694e775e0dd04b0144194f2c67ea7ecb7_640.jpg",
    "Tags": "cat, cute, adorable",
    "Thumbnail": "https://cdn.pixabay.com/photo/2017/07/12/22/02/cat-2498509_150.jpg",
    "Context": "https://pixabay.com/en/cat-cute-adorable-pet-animal-2498509/"
  },
  {
    "URL": "https://pixabay.com/get/eb31b2072ff5063ed95c4518b74a4694e775e0dd04b0144194f2c67ea7ecb7_640.jpg",
    "Tags": "cat, red, mieze",
    "Thumbnail": "https://cdn.pixabay.com/photo/2017/06/24/20/16/cat-2438717_150.jpg",
    "Context": "https://pixabay.com/en/cat-red-mieze-red-tomcat-2438717/"
  },
  {
    "URL": "https://pixabay.com/get/eb31b50d29f6093ed95c4518b74a4694e775e0dd04b0144194f2c67ea7ecb7_640.jpg",
    "Tags": "teddy, luggage, antique",
    "Thumbnail": "https://cdn.pixabay.com/photo/2017/06/25/22/03/teddy-2442128_150.jpg",
    "Context": "https://pixabay.com/en/teddy-luggage-antique-cat-2442128/"
  },
  {
    "URL": "https://pixabay.com/get/eb37b40729fd013ed95c4518b74a4694e775e0dd04b0144194f2c67ea7ecb7_640.jpg",
    "Tags": "cat, curious, cute",
    "Thumbnail": "https://cdn.pixabay.com/photo/2017/04/24/23/38/cat-2258190_150.jpg",
    "Context": "https://pixabay.com/en/cat-curious-cute-pet-funny-feline-2258190/"
  },
  {
    "URL": "https://pixabay.com/get/eb36b50721fd063ed95c4518b74a4694e775e0dd04b0144194f2c67ea7ecb7_640.jpg",
    "Tags": "cat, kitten, wooden",
    "Thumbnail": "https://cdn.pixabay.com/photo/2017/05/27/17/44/cat-2348997_150.jpg",
    "Context": "https://pixabay.com/en/cat-kitten-wooden-barrel-cute-2348997/"
  },
  {
    "URL": "https://pixabay.com/get/eb31b50a2ff6073ed95c4518b74a4694e775e0dd04b0144194f2c67ea7ecb7_640.jpg",
    "Tags": "portrait, cat, face",
    "Thumbnail": "https://cdn.pixabay.com/photo/2017/06/27/00/11/portrait-2445726_150.jpg",
    "Context": "https://pixabay.com/en/portrait-cat-face-eyes-meow-2445726/"
  }
]     
          </code>
        </div>
        
        <div class="example-text">
          <h3>
            Example latest output:
          </h3>
          <code>
            [
  {
    "term": "fanta",
    "when": "Fri Jul 28 2017 21:26:33 GMT+0000 (UTC)"
  },
  {
    "term": "nike",
    "when": "Fri Jul 28 2017 21:25:41 GMT+0000 (UTC)"
  },
  {
    "term": "baseball",
    "when": "Fri Jul 28 2017 21:25:28 GMT+0000 (UTC)"
  },
  {
    "term": "basketball",
    "when": "Fri Jul 28 2017 21:25:04 GMT+0000 (UTC)"
  },
  {
    "term": "pool",
    "when": "Fri Jul 28 2017 21:24:57 GMT+0000 (UTC)"
  },
  {
    "term": "pets",
    "when": "Fri Jul 28 2017 21:24:52 GMT+0000 (UTC)"
  },
  {
    "term": "music",
    "when": "Fri Jul 28 2017 21:24:45 GMT+0000 (UTC)"
  },
  {
    "term": "building",
    "when": "Fri Jul 28 2017 21:24:38 GMT+0000 (UTC)"
  },
  {
    "term": "sky",
    "when": "Fri Jul 28 2017 21:24:32 GMT+0000 (UTC)"
  },
  {
    "term": "funny cats",
    "when": "Fri Jul 28 2017 21:23:32 GMT+0000 (UTC)"
  }
]  
          </code>
          
        </div>
        
      </div>
      
   </body>

</html>